# Configurações do Servidor Backend
HOST=0.0.0.0
PORT=8000
DEBUG=1
ELASTIC_URL=http://elasticsearch:9200

# Configurações do Sentence-Transformers
HF_TOKEN=
HF_MODEL=all-mpnet-base-v2

# Configurações do ElasticSearch
ES_PORT=localhost:9200
ELASTIC_PASSWORD=password1234@
STACK_VERSION=9.3.1
node_name=es01
cluster_name=es-docker-cluster
discovery.type=single-node
xpack.security.enabled=false
ES_JAVA_OPTS=-Xms512m -Xmx512m