# Configurações do Servidor Backend
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
DEBUG=True
ELASTIC_URL=http://elasticsearch:9200

# Configurações do Sentence-Transformers
HF_TOKEN=
HF_MODEL=all-mpnet-base-v2
HF_MODEL_DIMS=768