# Configurações do Servidor Backend
HOST=localhost
PORT=8000
DEBUG=1

# Configurações do ElasticSearch
ES_PORT=localhost:9200
ELASTIC_PASSWORD=samplepassword123@
STACK_VERSION=9.3.1
node_name=es01
cluster_name=es-docker-cluster
discovery.type=single-node
xpack.security.enabled=false
ES_JAVA_OPTS=-Xms512m -Xmx512m